<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143835071470-16ftegiujbrdkqbfpmc9cinool1rv1i0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143835071470-16ftegiujbrdkqbfpmc9cinool1rv1i0</string>
	<key>API_KEY</key>
	<string>AIzaSyALfWSymXZgOxzEY_o-NpDmQ8sIOA4qSE4</string>
	<key>GCM_SENDER_ID</key>
	<string>143835071470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kitKart</string>
	<key>PROJECT_ID</key>
	<string>kit-kart</string>
	<key>STORAGE_BUCKET</key>
	<string>kit-kart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143835071470:ios:5803a9c0993014a42b04ff</string>
</dict>
</plist>